body {
    margin: 0;
    padding: 0;
}
#boo, #boo2, #boo3, #boo4 {
    border: 0px solid #000;
}

.headerRow {
        border-bottom: 1px solid rgba(0, 0, 0, 0.51);

    padding-bottom: 10px;
}
.resultsRow {
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);
}
.testScreen {
    padding-top: 3px;
}
.resultsRow ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resultsRow li {
    padding: 5px;
    border-top: 0px solid #000000;
}

.pass {
    /*background-color: rgba(0, 245, 7, 0.4);*/
    /*background-color: #9ccc33;*/
    color: #148e0f;
}

.fail {
    /*background-color: #db163d;*/
    color: #db1b00;
    /*background-color: rgba(255, 2, 2, 0.83);*/
}

#dateMenu ul {
    list-style: none;
    padding-left: 5px;
    /*margin: 0;*/
}

.artifacts {
    display: block;
}
.artifacts li {
    list-style: none;
    padding: 0;
}

.artifacts ul {
    padding-left: 5px;
    margin: 0px;
    /*display: none*/
}

.testDate {

}