body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    background-color: #DCDCDC;
}

#resultsContainer {
    width: 1000px;
    /*border: 1px solid #ff0000;*/
    margin: auto auto;
}

#header {
    height: 50px;
    text-align: left;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    border: 1px solid #006dcc;
}

#footer {
    height: 20px;
    clear: left;
}

.test {
    background-color: #808080;
}

.items {
    background-color: #008000;
    height: 50px;
}

#heading {
    background-color: #DCDCDC;
    height: 50px;
    padding: 20px 0 0 0;
    font-size: 20px;
}

#resultsTable {
    background-color: #ffffff;
}
#resultsTable th{
    width: 250px;
    height: 35px;
    text-align: left;
    padding-left: 10px;
}

#resultsTable table {
    border-collapse: collapse;
}

#resultsTable th {
    margin: 20px;
}

#resultsTable tr {
    border: 1px;
    padding: 5px;
    font-size: 12px;
}

#resultsTable td {
    margin: 0;
    padding: 0;
}
#resultsTable ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#resultsTable li {
    padding: 5px;
    border-top: 1px solid #000000;
}

.testScreenName {
    padding: 5px 0 0 5px !important;
    vertical-align: top;
}

.testName {
    width: 100%;
    /*border: 1px solid #000000;*/
    /*height: 20px;*/
    /*background-color: yellow;*/
    /*float: left;*/
}

.result {
    text-align: center;
}

.pass {
    /*background-color: rgba(0, 245, 7, 0.4);*/
    background-color: #9ccc33;
}

.fail {
    background-color: #db163d;
    /*background-color: rgba(255, 2, 2, 0.83);*/

}
