body {
    margin: 0;
    padding: 0;
}
#boo, #boo2, #boo3, #boo4 {
    border: 0px solid #000;
}

.headerRow {
        border-bottom: 1px solid rgba(0, 0, 0, 0.51);

    padding-bottom: 10px;
}
.resultsRow {
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.testScreen {
    padding-top: 3px;
}
.resultsRow ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-spacer {
    padding-top: 50px;
}

#jumbo-enhancements {
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#dates {
    padding-top: 30px;
}
.resultsRow li {
    padding: 5px;
    border-top: 0px solid #000000;
}

#dateMenu ul {
    list-style: none;
    padding-left: 5px;
    /*margin: 0;*/
}
#last-smoketest {
    padding-left: 150px;
    color: #696969;
}
.artifacts {
    display: block;
}
.artifacts li {
    list-style: none;
    padding: 0;
}

.artifacts ul {
    padding-left: 5px;
    margin: 0px;
    /*display: none*/
}

.test-pass {
    color: #008000;
}

.test-fail {
    color: #ff0000;
}

#coverage-label {
    color: blue;
}
#coverage-result {
    width: 320px;
    color: #999;
    /*border: 1px solid #ff0000;*/
}